.fi-pagination-items,
.fi-pagination-overview,
.fi-pagination-records-per-page-select:not(.fi-compact) {
    display: none
}

@supports (container-type:inline-size) {
    .fi-pagination {
        container-type: inline-size
    }

    @container (min-width: 28rem) {
        .fi-pagination-records-per-page-select.fi-compact {
            display: none
        }

        .fi-pagination-records-per-page-select:not(.fi-compact) {
            display: inline
        }
    }

    @container (min-width: 56rem) {
        .fi-pagination:not(.fi-simple)>.fi-pagination-previous-btn {
            display: none
        }

        .fi-pagination-overview {
            display: inline
        }

        .fi-pagination:not(.fi-simple)>.fi-pagination-next-btn {
            display: none
        }

        .fi-pagination-items {
            display: flex
        }
    }
}

@supports not (container-type:inline-size) {
    @media (min-width:640px) {
        .fi-pagination-records-per-page-select.fi-compact {
            display: none
        }

        .fi-pagination-records-per-page-select:not(.fi-compact) {
            display: inline
        }
    }

    @media (min-width:768px) {
        .fi-pagination:not(.fi-simple)>.fi-pagination-previous-btn {
            display: none
        }

        .fi-pagination-overview {
            display: inline
        }

        .fi-pagination:not(.fi-simple)>.fi-pagination-next-btn {
            display: none
        }

        .fi-pagination-items {
            display: flex
        }
    }
}

.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    position: relative;
    transition-property: transform, visibility, opacity;
    white-space: normal
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    border-top-color: initial;
    border-width: 8px 8px 0;
    bottom: -7px;
    left: 0;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: initial;
    border-width: 0 8px 8px;
    left: 0;
    top: -7px;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-left-color: initial;
    border-width: 8px 0 8px 8px;
    right: -7px;
    transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    border-right-color: initial;
    border-width: 8px 8px 8px 0;
    left: -7px;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
    color: #333;
    height: 16px;
    width: 16px
}

.tippy-arrow:before {
    border-color: transparent;
    border-style: solid;
    content: "";
    position: absolute
}

.tippy-content {
    padding: 5px 9px;
    position: relative;
    z-index: 1
}

.tippy-box[data-theme~=light] {
    background-color: #fff;
    box-shadow: 0 0 20px 4px #9aa1b126, 0 4px 80px -8px #24282f40, 0 4px 4px -2px #5b5e6926;
    color: #26323d
}

.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before {
    border-left-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before {
    border-right-color: #fff
}

.tippy-box[data-theme~=light]>.tippy-backdrop {
    background-color: #fff
}

.tippy-box[data-theme~=light]>.tippy-svg-arrow {
    fill: #fff
}

.fi-sortable-ghost {
    opacity: .3
}
