input::-webkit-datetime-edit {
    display: block;
    padding: 0
}

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.cropper-container img {
    backface-visibility: hidden;
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%
}

.cropper-canvas,
.cropper-crop-box,
.cropper-drag-box,
.cropper-modal,
.cropper-wrap-box {
    inset: 0;
    position: absolute
}

.cropper-canvas,
.cropper-wrap-box {
    overflow: hidden
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0
}

.cropper-modal {
    background-color: #000;
    opacity: .5
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: #3399ffbf;
    overflow: hidden;
    width: 100%
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: .5;
    position: absolute
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: 33.33333%;
    left: 0;
    top: 33.33333%;
    width: 100%
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: 33.33333%;
    top: 0;
    width: 33.33333%
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: .75;
    position: absolute;
    top: 50%;
    width: 0
}

.cropper-center:after,
.cropper-center:before {
    background-color: #eee;
    content: " ";
    display: block;
    position: absolute
}

.cropper-center:before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px
}

.cropper-center:after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0
}

.cropper-line {
    background-color: #39f
}

.cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px
}

.cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px
}

.cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: .75;
    width: 5px
}

.cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%
}

.cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px
}

.cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px
}

.cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px
}

.cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px
}

@media (min-width:768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px
    }
}

@media (min-width:992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px
    }
}

@media (min-width:1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: .75;
        width: 5px
    }
}

.cropper-point.point-se:before {
    background-color: #39f;
    bottom: -50%;
    content: " ";
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%
}

.cropper-invisible {
    opacity: 0
}

.cropper-bg {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC)
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0
}

.cropper-hidden {
    display: none !important
}

.cropper-move {
    cursor: move
}

.cropper-crop {
    cursor: crosshair
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed
}

.filepond--assistant {
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.filepond--browser.filepond--browser {
    font-size: 0;
    left: 1em;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 1.75em;
    width: calc(100% - 2em)
}

.filepond--data {
    border: none;
    contain: strict;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 0
}

.filepond--data,
.filepond--drip {
    pointer-events: none;
    position: absolute
}

.filepond--drip {
    background: rgba(0, 0, 0, .01);
    border-radius: .5em;
    inset: 0;
    opacity: .1;
    overflow: hidden
}

.filepond--drip-blob {
    background: #292625;
    border-radius: 50%;
    height: 8em;
    margin-left: -4em;
    margin-top: -4em;
    transform-origin: center center;
    width: 8em
}

.filepond--drip-blob,
.filepond--drop-label {
    left: 0;
    position: absolute;
    top: 0;
    will-change: transform, opacity
}

.filepond--drop-label {
    align-items: center;
    color: #4f4f4f;
    display: flex;
    height: 0;
    justify-content: center;
    margin: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.filepond--drop-label.filepond--drop-label label {
    display: block;
    margin: 0;
    padding: .5em
}

.filepond--drop-label label {
    cursor: default;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.5;
    text-align: center
}

.filepond--label-action {
    -webkit-text-decoration-skip: ink;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #a7a4a4;
    text-decoration-skip-ink: auto
}

.filepond--root[data-disabled] .filepond--drop-label label {
    opacity: .5
}

.filepond--file-action-button.filepond--file-action-button {
    border: none;
    font-family: inherit;
    font-size: 1em;
    height: 1.625em;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    width: 1.625em;
    will-change: transform, opacity
}

.filepond--file-action-button.filepond--file-action-button span {
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.filepond--file-action-button.filepond--file-action-button svg {
    height: 100%;
    width: 100%
}

.filepond--file-action-button.filepond--file-action-button:after {
    content: "";
    inset: -.75em;
    position: absolute
}

.filepond--file-action-button {
    background-color: #00000080;
    background-image: none;
    border-radius: 50%;
    box-shadow: 0 0 #fff0;
    color: #fff;
    cursor: auto;
    transition: box-shadow .25s ease-in
}

.filepond--file-action-button:focus,
.filepond--file-action-button:hover {
    box-shadow: 0 0 0 .125em #ffffffe6
}

.filepond--file-action-button[disabled] {
    background-color: #00000040;
    color: #ffffff80
}

.filepond--file-action-button[hidden] {
    display: none
}

.filepond--file-info {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 .5em 0 0;
    min-width: 0;
    pointer-events: none;
    position: static;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    will-change: transform, opacity
}

.filepond--file-info * {
    margin: 0
}

.filepond--file-info .filepond--file-info-main {
    font-size: .75em;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.filepond--file-info .filepond--file-info-sub {
    font-size: .625em;
    opacity: .5;
    transition: opacity .25s ease-in-out;
    white-space: nowrap
}

.filepond--file-info .filepond--file-info-sub:empty {
    display: none
}

.filepond--file-status {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    min-width: 2.25em;
    pointer-events: none;
    position: static;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    will-change: transform, opacity
}

.filepond--file-status * {
    margin: 0;
    white-space: nowrap
}

.filepond--file-status .filepond--file-status-main {
    font-size: .75em;
    line-height: 1.2
}

.filepond--file-status .filepond--file-status-sub {
    font-size: .625em;
    opacity: .5;
    transition: opacity .25s ease-in-out
}

.filepond--file-wrapper.filepond--file-wrapper {
    border: none;
    height: 100%;
    margin: 0;
    min-width: 0;
    padding: 0
}

.filepond--file-wrapper.filepond--file-wrapper>legend {
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.filepond--file {
    align-items: flex-start;
    border-radius: .5em;
    color: #fff;
    display: flex;
    height: 100%;
    padding: .5625em;
    position: static
}

.filepond--file .filepond--file-status {
    margin-left: auto;
    margin-right: 2.25em
}

.filepond--file .filepond--processing-complete-indicator {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 3
}

.filepond--file .filepond--file-action-button,
.filepond--file .filepond--processing-complete-indicator,
.filepond--file .filepond--progress-indicator {
    position: absolute
}

.filepond--file [data-align*=left] {
    left: .5625em
}

.filepond--file [data-align*=right] {
    right: .5625em
}

.filepond--file [data-align*=center] {
    left: calc(50% - .8125em)
}

.filepond--file [data-align*=bottom] {
    bottom: 1.125em
}

.filepond--file [data-align=center] {
    top: calc(50% - .8125em)
}

.filepond--file .filepond--progress-indicator {
    margin-top: .1875em
}

.filepond--file .filepond--progress-indicator[data-align*=right] {
    margin-right: .1875em
}

.filepond--file .filepond--progress-indicator[data-align*=left] {
    margin-left: .1875em
}

[data-filepond-item-state*=error] .filepond--file-info,
[data-filepond-item-state*=invalid] .filepond--file-info,
[data-filepond-item-state=cancelled] .filepond--file-info {
    margin-right: 2.25em
}

[data-filepond-item-state~=processing] .filepond--file-status-sub {
    opacity: 0
}

[data-filepond-item-state~=processing] .filepond--action-abort-item-processing~.filepond--file-status .filepond--file-status-sub {
    opacity: .5
}

[data-filepond-item-state=processing-error] .filepond--file-status-sub {
    opacity: 0
}

[data-filepond-item-state=processing-error] .filepond--action-retry-item-processing~.filepond--file-status .filepond--file-status-sub {
    opacity: .5
}

[data-filepond-item-state=processing-complete] .filepond--action-revert-item-processing svg {
    animation: fall .5s linear .125s both
}

[data-filepond-item-state=processing-complete] .filepond--file-status-sub {
    opacity: .5
}

[data-filepond-item-state=processing-complete] .filepond--file-info-sub,
[data-filepond-item-state=processing-complete] .filepond--processing-complete-indicator:not([style*=hidden])~.filepond--file-status .filepond--file-status-sub {
    opacity: 0
}

[data-filepond-item-state=processing-complete] .filepond--action-revert-item-processing~.filepond--file-info .filepond--file-info-sub {
    opacity: .5
}

[data-filepond-item-state*=error] .filepond--file-wrapper,
[data-filepond-item-state*=error] .filepond--panel,
[data-filepond-item-state*=invalid] .filepond--file-wrapper,
[data-filepond-item-state*=invalid] .filepond--panel {
    animation: shake .65s linear both
}

[data-filepond-item-state*=busy] .filepond--progress-indicator svg {
    animation: spin 1s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate(-.0625em)
    }

    20%,
    80% {
        transform: translate(.125em)
    }

    30%,
    50%,
    70% {
        transform: translate(-.25em)
    }

    40%,
    60% {
        transform: translate(.25em)
    }
}

@keyframes fall {
    0% {
        animation-timing-function: ease-out;
        opacity: 0;
        transform: scale(.5)
    }

    70% {
        animation-timing-function: ease-in-out;
        opacity: 1;
        transform: scale(1.1)
    }

    to {
        animation-timing-function: ease-out;
        transform: scale(1)
    }
}

.filepond--hopper[data-hopper-state=drag-over]>* {
    pointer-events: none
}

.filepond--hopper[data-hopper-state=drag-over]:after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: 100
}

.filepond--progress-indicator {
    z-index: 103
}

.filepond--file-action-button {
    z-index: 102
}

.filepond--file-status {
    z-index: 101
}

.filepond--file-info {
    z-index: 100
}

.filepond--item {
    left: 0;
    margin: .25em;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    will-change: transform, opacity;
    z-index: 1
}

.filepond--item>.filepond--panel {
    z-index: -1
}

.filepond--item>.filepond--panel .filepond--panel-bottom {
    box-shadow: 0 .0625em .125em -.0625em #00000040
}

.filepond--item>.filepond--file-wrapper,
.filepond--item>.filepond--panel {
    transition: opacity .15s ease-out
}

.filepond--item[data-drag-state] {
    cursor: grab
}

.filepond--item[data-drag-state]>.filepond--panel {
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .125s ease-in-out
}

.filepond--item[data-drag-state=drag] {
    cursor: grabbing
}

.filepond--item[data-drag-state=drag]>.filepond--panel {
    box-shadow: 0 .125em .3125em #00000053
}

.filepond--item[data-drag-state]:not([data-drag-state=idle]) {
    z-index: 2
}

.filepond--item-panel {
    background-color: #64605e
}

[data-filepond-item-state=processing-complete] .filepond--item-panel {
    background-color: #369763
}

[data-filepond-item-state*=error] .filepond--item-panel,
[data-filepond-item-state*=invalid] .filepond--item-panel {
    background-color: #c44e47
}

.filepond--item-panel {
    border-radius: .5em;
    transition: background-color .25s
}

.filepond--list-scroller {
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    will-change: transform
}

.filepond--list-scroller[data-state=overflow] .filepond--list {
    bottom: 0;
    right: 0
}

.filepond--list-scroller[data-state=overflow] {
    -webkit-overflow-scrolling: touch;
    -webkit-mask: linear-gradient(180deg, #000 calc(100% - .5em), transparent);
    mask: linear-gradient(180deg, #000 calc(100% - .5em), transparent);
    overflow-x: hidden;
    overflow-y: scroll
}

.filepond--list-scroller::-webkit-scrollbar {
    background: transparent
}

.filepond--list-scroller::-webkit-scrollbar:vertical {
    width: 1em
}

.filepond--list-scroller::-webkit-scrollbar:horizontal {
    height: 0
}

.filepond--list-scroller::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #0000004d;
    border: .3125em solid transparent;
    border-radius: 99999px
}

.filepond--list.filepond--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    will-change: transform
}

.filepond--list {
    left: .75em;
    right: .75em
}

.filepond--root[data-style-panel-layout~=integrated] {
    height: 100%;
    margin: 0;
    max-width: none;
    width: 100%
}

.filepond--root[data-style-panel-layout~=circle] .filepond--panel-root,
.filepond--root[data-style-panel-layout~=integrated] .filepond--panel-root {
    border-radius: 0
}

.filepond--root[data-style-panel-layout~=circle] .filepond--panel-root>*,
.filepond--root[data-style-panel-layout~=integrated] .filepond--panel-root>* {
    display: none
}

.filepond--root[data-style-panel-layout~=circle] .filepond--drop-label,
.filepond--root[data-style-panel-layout~=integrated] .filepond--drop-label {
    align-items: center;
    bottom: 0;
    display: flex;
    height: auto;
    justify-content: center;
    z-index: 7
}

.filepond--root[data-style-panel-layout~=circle] .filepond--item-panel,
.filepond--root[data-style-panel-layout~=integrated] .filepond--item-panel {
    display: none
}

.filepond--root[data-style-panel-layout~=compact] .filepond--list-scroller,
.filepond--root[data-style-panel-layout~=integrated] .filepond--list-scroller {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden
}

.filepond--root[data-style-panel-layout~=compact] .filepond--list,
.filepond--root[data-style-panel-layout~=integrated] .filepond--list {
    height: 100%;
    left: 0;
    right: 0
}

.filepond--root[data-style-panel-layout~=compact] .filepond--item,
.filepond--root[data-style-panel-layout~=integrated] .filepond--item {
    margin: 0
}

.filepond--root[data-style-panel-layout~=compact] .filepond--file-wrapper,
.filepond--root[data-style-panel-layout~=integrated] .filepond--file-wrapper {
    height: 100%
}

.filepond--root[data-style-panel-layout~=compact] .filepond--drop-label,
.filepond--root[data-style-panel-layout~=integrated] .filepond--drop-label {
    z-index: 7
}

.filepond--root[data-style-panel-layout~=circle] {
    border-radius: 99999rem;
    overflow: hidden
}

.filepond--root[data-style-panel-layout~=circle]>.filepond--panel {
    border-radius: inherit
}

.filepond--root[data-style-panel-layout~=circle] .filepond--file-info,
.filepond--root[data-style-panel-layout~=circle] .filepond--file-status,
.filepond--root[data-style-panel-layout~=circle]>.filepond--panel>* {
    display: none
}

@media not all and (-webkit-min-device-pixel-ratio:0),
not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .filepond--root[data-style-panel-layout~=circle] {
            will-change: transform
        }
    }
}

.filepond--panel-root {
    background-color: #f1f0ef;
    border-radius: .5em
}

.filepond--panel {
    height: 100% !important;
    left: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

.filepond-panel:not([data-scalable=false]) {
    height: auto !important
}

.filepond--panel[data-scalable=false]>div {
    display: none
}

.filepond--panel[data-scalable=true] {
    background-color: transparent !important;
    border: none !important;
    transform-style: preserve-3d
}

.filepond--panel-bottom,
.filepond--panel-center,
.filepond--panel-top {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0
}

.filepond--panel-bottom,
.filepond--panel-top {
    height: .5em
}

.filepond--panel-top {
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.filepond--panel-top:after {
    background-color: inherit;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0
}

.filepond--panel-bottom,
.filepond--panel-center {
    backface-visibility: hidden;
    transform: translate3d(0, .5em, 0);
    transform-origin: left top;
    will-change: transform
}

.filepond--panel-bottom {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.filepond--panel-bottom:before {
    background-color: inherit;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: -1px
}

.filepond--panel-center {
    border-bottom: none !important;
    border-radius: 0 !important;
    border-top: none !important;
    height: 100px !important
}

.filepond--panel-center:not([style]) {
    visibility: hidden
}

.filepond--progress-indicator {
    color: #fff;
    height: 1.25em;
    margin: 0;
    pointer-events: none;
    position: static;
    width: 1.25em;
    will-change: transform, opacity
}

.filepond--progress-indicator svg {
    height: 100%;
    transform-box: fill-box;
    vertical-align: top;
    width: 100%
}

.filepond--progress-indicator path {
    fill: none;
    stroke: currentColor
}

.filepond--list-scroller {
    z-index: 6
}

.filepond--drop-label {
    z-index: 5
}

.filepond--drip {
    z-index: 3
}

.filepond--root>.filepond--panel {
    z-index: 2
}

.filepond--browser {
    z-index: 1
}

.filepond--root {
    box-sizing: border-box;
    contain: layout style size;
    direction: ltr;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 450;
    line-height: normal;
    margin-bottom: 1em;
    position: relative;
    text-align: left;
    text-rendering: optimizeLegibility
}

.filepond--root * {
    box-sizing: inherit;
    line-height: inherit
}

.filepond--root :not(text) {
    font-size: inherit
}

.filepond--root[data-disabled] {
    pointer-events: none
}

.filepond--root[data-disabled] .filepond--list-scroller {
    pointer-events: all
}

.filepond--root[data-disabled] .filepond--list {
    pointer-events: none
}

.filepond--root .filepond--drop-label {
    min-height: 4.75em
}

.filepond--root .filepond--list-scroller {
    margin-bottom: 1em;
    margin-top: 1em
}

.filepond--root .filepond--credits {
    bottom: -14px;
    color: inherit;
    font-size: 11px;
    line-height: .85;
    opacity: .175;
    position: absolute;
    right: 0;
    text-decoration: none;
    z-index: 3
}

.filepond--root .filepond--credits[style] {
    bottom: auto;
    margin-top: 14px;
    top: 0
}

.filepond--action-edit-item.filepond--action-edit-item {
    height: 2em;
    padding: .1875em;
    width: 2em
}

.filepond--action-edit-item.filepond--action-edit-item[data-align*=center] {
    margin-left: -.1875em
}

.filepond--action-edit-item.filepond--action-edit-item[data-align*=bottom] {
    margin-bottom: -.1875em
}

.filepond--action-edit-item-alt {
    background: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0 0 0 .25em;
    outline: none;
    padding: 0;
    pointer-events: all;
    position: absolute
}

.filepond--action-edit-item-alt svg {
    height: 1.3125em;
    width: 1.3125em
}

.filepond--action-edit-item-alt span {
    font-size: 0;
    opacity: 0
}

.filepond--root[data-style-panel-layout~=circle] .filepond--action-edit-item {
    opacity: 1 !important;
    visibility: visible !important
}

.filepond--image-preview-markup {
    left: 0;
    position: absolute;
    top: 0
}

.filepond--image-preview-wrapper {
    z-index: 2
}

.filepond--image-preview-overlay {
    display: block;
    left: 0;
    margin: 0;
    max-height: 7rem;
    min-height: 5rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 2
}

.filepond--image-preview-overlay svg {
    color: inherit;
    height: auto;
    max-height: inherit;
    width: 100%
}

.filepond--image-preview-overlay-idle {
    color: #282828d9;
    mix-blend-mode: multiply
}

.filepond--image-preview-overlay-success {
    color: #369763;
    mix-blend-mode: normal
}

.filepond--image-preview-overlay-failure {
    color: #c44e47;
    mix-blend-mode: normal
}

@supports (-webkit-marquee-repetition:infinite) and ((-o-object-fit:fill) or (object-fit:fill)) {
    .filepond--image-preview-overlay-idle {
        mix-blend-mode: normal
    }
}

.filepond--image-preview-wrapper {
    background: rgba(0, 0, 0, .01);
    border-radius: .45em;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.filepond--image-preview {
    align-items: center;
    background: #222;
    display: flex;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    will-change: transform, opacity;
    z-index: 1
}

.filepond--image-clip {
    margin: 0 auto;
    overflow: hidden;
    position: relative
}

.filepond--image-clip[data-transparency-indicator=grid] canvas,
.filepond--image-clip[data-transparency-indicator=grid] img {
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill='%23eee'%3E%3Cpath d='M0 0h50v50H0M50 50h50v50H50'/%3E%3C/svg%3E");
    background-size: 1.25em 1.25em
}

.filepond--image-bitmap,
.filepond--image-vector {
    left: 0;
    position: absolute;
    top: 0;
    will-change: transform
}

.filepond--root[data-style-panel-layout~=integrated] .filepond--image-preview-wrapper {
    border-radius: 0
}

.filepond--root[data-style-panel-layout~=integrated] .filepond--image-preview {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.filepond--root[data-style-panel-layout~=circle] .filepond--image-preview-wrapper {
    border-radius: 99999rem
}

.filepond--root[data-style-panel-layout~=circle] .filepond--image-preview-overlay {
    bottom: 0;
    top: auto;
    transform: scaleY(-1)
}

.filepond--root[data-style-panel-layout~=circle] .filepond--file .filepond--file-action-button[data-align*=bottom]:not([data-align*=center]) {
    margin-bottom: .325em
}

.filepond--root[data-style-panel-layout~=circle] .filepond--file [data-align*=left] {
    left: calc(50% - 3em)
}

.filepond--root[data-style-panel-layout~=circle] .filepond--file [data-align*=right] {
    right: calc(50% - 3em)
}

.filepond--root[data-style-panel-layout~=circle] .filepond--progress-indicator[data-align*=bottom][data-align*=left],
.filepond--root[data-style-panel-layout~=circle] .filepond--progress-indicator[data-align*=bottom][data-align*=right] {
    margin-bottom: .5125em
}

.filepond--root[data-style-panel-layout~=circle] .filepond--progress-indicator[data-align*=bottom][data-align*=center] {
    margin-bottom: .1875em;
    margin-left: .1875em;
    margin-top: 0
}

.filepond--media-preview audio {
    display: none
}

.filepond--media-preview .audioplayer {
    margin: 2.3em auto auto;
    width: calc(100% - 1.4em)
}

.filepond--media-preview .playpausebtn {
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    float: left;
    height: 25px;
    margin-right: .3em;
    margin-top: .3em;
    outline: none;
    width: 25px
}

.filepond--media-preview .playpausebtn:hover {
    background-color: #00000080
}

.filepond--media-preview .play {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAyElEQVQ4T9XUsWoCQRRG4XPaFL5SfIy8gKYKBCysrax8Ahs7qzQ2qVIFOwsrsbEWLEK6EBFGBrIQhN2d3dnGgalm+Jh7789Ix8uOPe4YDCH0gZ66atKW0pJDCE/AEngDXtRjCpwCRucbGANzNVTBqWBhfAJDdV+GNgWj8wtM41bPt3AbsDB2f69d/0dzwC0wUDe54A8wAWbqJbfkD+BZPeQO5QsYqYu6LKb0MIb7VT3VYfG8CnwEHtT3FKi4c8e/TZMyk3LYFrwCgMdHFbRDKS8AAAAASUVORK5CYII=)
}

.filepond--media-preview .pause {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAh0lEQVQ4T+2UsQkCURBE30PLMbAMMResQrAPsQ0TK9AqDKxGZeTLD74aGNwlhzfZssvADDMrPcOe+RggYZIJcG2s2KinMidZAvu6u6uzT8u+JCeZArfmcKUeK+EaONTdQy23bxgJX8aPHvIHsSnVuzTx36rn2pQFsGuqN//ZlK7vbIDvq6vkJ9yteBXzecYbAAAAAElFTkSuQmCC)
}

.filepond--media-preview .timeline {
    background: hsla(0, 0%, 100%, .3);
    border-radius: 15px;
    float: left;
    height: 3px;
    margin-top: 1em;
    width: calc(100% - 2.5em)
}

.filepond--media-preview .playhead {
    background: #fff;
    border-radius: 50%;
    height: 13px;
    margin-top: -5px;
    width: 13px
}

.filepond--media-preview-wrapper {
    background: rgba(0, 0, 0, .01);
    border-radius: .45em;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    right: 0;
    top: 0
}

.filepond--media-preview-wrapper:before {
    background: linear-gradient(180deg, #000 0, transparent);
    content: " ";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#00000000", GradientType=0);
    height: 2em;
    position: absolute;
    width: 100%;
    z-index: 3
}

.filepond--media-preview {
    display: block;
    height: 100%;
    position: relative;
    transform-origin: center center;
    width: 100%;
    will-change: transform, opacity;
    z-index: 1
}

.filepond--media-preview audio,
.filepond--media-preview video {
    width: 100%;
    will-change: transform
}

.filepond--root {
    --tw-bg-opacity: 1;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-color: rgba(var(--gray-950), 0.1);
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: .5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    margin-bottom: 0
}

:is(.dark .filepond--root) {
    --tw-ring-color: hsla(0, 0%, 100%, .2);
    background-color: hsla(0, 0%, 100%, .05)
}

.filepond--root[data-disabled=disabled] {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity))
}

:is(.dark .filepond--root[data-disabled=disabled]) {
    --tw-ring-color: hsla(0, 0%, 100%, .1);
    background-color: transparent
}

.filepond--panel-root {
    background-color: transparent
}

.filepond--drop-label label {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-600), var(--tw-text-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .75rem !important
}

:is(.dark .filepond--drop-label label) {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.filepond--label-action {
    --tw-text-opacity: 1;
    color: rgba(var(--primary-600), var(--tw-text-opacity));
    font-weight: 500;
    text-decoration-line: none;
    transition-duration: 75ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.filepond--label-action:hover {
    --tw-text-opacity: 1;
    color: rgba(var(--primary-500), var(--tw-text-opacity))
}

:is(.dark .filepond--label-action) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

:is(.dark .filepond--label-action:hover) {
    --tw-text-opacity: 1;
    color: rgba(var(--primary-500), var(--tw-text-opacity))
}

.filepond--drip-blob {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-400), var(--tw-bg-opacity))
}

:is(.dark .filepond--drip-blob) {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-500), var(--tw-bg-opacity))
}

.filepond--root[data-style-panel-layout=grid] .filepond--item {
    display: inline;
    width: calc(50% - .5rem)
}

@media (min-width:1024px) {
    .filepond--root[data-style-panel-layout=grid] .filepond--item {
        width: calc(33.33% - .5rem)
    }
}

.filepond--download-icon {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    display: inline-block;
    height: 1rem;
    margin-inline-end: .25rem;
    pointer-events: auto;
    vertical-align: bottom;
    width: 1rem
}

.filepond--download-icon:hover {
    background-color: hsla(0, 0%, 100%, .7)
}

.filepond--download-icon {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWRvd25sb2FkIj48cGF0aCBkPSJNMjEgMTV2NGEyIDIgMCAwIDEtMiAySDVhMiAyIDAgMCAxLTItMnYtNE03IDEwbDUgNSA1LTVNMTIgMTVWMyIvPjwvc3ZnPg==);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWRvd25sb2FkIj48cGF0aCBkPSJNMjEgMTV2NGEyIDIgMCAwIDEtMiAySDVhMiAyIDAgMCAxLTItMnYtNE03IDEwbDUgNSA1LTVNMTIgMTVWMyIvPjwvc3ZnPg==);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%
}

.filepond--open-icon {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    display: inline-block;
    height: 1rem;
    margin-inline-end: .25rem;
    pointer-events: auto;
    vertical-align: bottom;
    width: 1rem
}

.filepond--open-icon:hover {
    background-color: hsla(0, 0%, 100%, .7)
}

.filepond--open-icon {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEwIDZINmEyIDIgMCAwIDAtMiAydjEwYTIgMiAwIDAgMCAyIDJoMTBhMiAyIDAgMCAwIDItMnYtNE0xNCA0aDZtMCAwdjZtMC02TDEwIDE0Ii8+PC9zdmc+);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEwIDZINmEyIDIgMCAwIDAtMiAydjEwYTIgMiAwIDAgMCAyIDJoMTBhMiAyIDAgMCAwIDItMnYtNE0xNCA0aDZtMCAwdjZtMC02TDEwIDE0Ii8+PC9zdmc+);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%
}

.filepond--file-action-button.filepond--action-edit-item {
    background-color: rgba(0, 0, 0, .5)
}

.cropper-drag-box.cropper-crop.cropper-modal {
    background-color: rgba(var(--gray-100), .5);
    opacity: 1
}

:is(.dark .cropper-drag-box.cropper-crop.cropper-modal) {
    background-color: rgba(var(--gray-900), .8)
}

.fi-fo-file-upload-circle-cropper .cropper-face,
.fi-fo-file-upload-circle-cropper .cropper-view-box {
    border-radius: 50%
}

.CodeMirror {
    color: #000;
    direction: ltr;
    font-family: monospace;
    height: 300px
}

.CodeMirror-lines {
    padding: 4px 0
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    padding: 0 4px
}

.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background-color: #fff
}

.CodeMirror-gutters {
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    white-space: nowrap
}

.CodeMirror-linenumber {
    color: #999;
    min-width: 20px;
    padding: 0 3px 0 5px;
    text-align: right;
    white-space: nowrap
}

.CodeMirror-guttermarker {
    color: #000
}

.CodeMirror-guttermarker-subtle {
    color: #999
}

.CodeMirror-cursor {
    border-left: 1px solid #000;
    border-right: none;
    width: 0
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver
}

.cm-fat-cursor .CodeMirror-cursor {
    background: #7e7;
    border: 0 !important;
    width: auto
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1
}

.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line>span::selection,
.cm-fat-cursor .CodeMirror-line>span>span::selection {
    background: 0 0
}

.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line>span::-moz-selection,
.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection {
    background: 0 0
}

.cm-fat-cursor {
    caret-color: transparent
}

@keyframes blink {
    50% {
        background-color: transparent
    }
}

.cm-tab {
    display: inline-block;
    text-decoration: inherit
}

.CodeMirror-rulers {
    inset: -50px 0 0;
    overflow: hidden;
    position: absolute
}

.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    bottom: 0;
    position: absolute;
    top: 0
}

.cm-s-default .cm-header {
    color: #00f
}

.cm-s-default .cm-quote {
    color: #090
}

.cm-negative {
    color: #d44
}

.cm-positive {
    color: #292
}

.cm-header,
.cm-strong {
    font-weight: 700
}

.cm-em {
    font-style: italic
}

.cm-link {
    text-decoration: underline
}

.cm-strikethrough {
    text-decoration: line-through
}

.cm-s-default .cm-keyword {
    color: #708
}

.cm-s-default .cm-atom {
    color: #219
}

.cm-s-default .cm-number {
    color: #164
}

.cm-s-default .cm-def {
    color: #00f
}

.cm-s-default .cm-variable-2 {
    color: #05a
}

.cm-s-default .cm-type,
.cm-s-default .cm-variable-3 {
    color: #085
}

.cm-s-default .cm-comment {
    color: #a50
}

.cm-s-default .cm-string {
    color: #a11
}

.cm-s-default .cm-string-2 {
    color: #f50
}

.cm-s-default .cm-meta,
.cm-s-default .cm-qualifier {
    color: #555
}

.cm-s-default .cm-builtin {
    color: #30a
}

.cm-s-default .cm-bracket {
    color: #997
}

.cm-s-default .cm-tag {
    color: #170
}

.cm-s-default .cm-attribute {
    color: #00c
}

.cm-s-default .cm-hr {
    color: #999
}

.cm-s-default .cm-link {
    color: #00c
}

.cm-invalidchar,
.cm-s-default .cm-error {
    color: red
}

.CodeMirror-composing {
    border-bottom: 2px solid
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0b0
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #a22
}

.CodeMirror-matchingtag {
    background: rgba(255, 150, 0, .3)
}

.CodeMirror-activeline-background {
    background: #e8f2ff
}

.CodeMirror {
    background: #fff;
    overflow: hidden;
    position: relative
}

.CodeMirror-scroll {
    height: 100%;
    margin-bottom: -50px;
    margin-right: -50px;
    outline: 0;
    overflow: scroll !important;
    padding-bottom: 50px;
    position: relative;
    z-index: 0
}

.CodeMirror-sizer {
    border-right: 50px solid transparent;
    position: relative
}

.CodeMirror-gutter-filler,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-vscrollbar {
    display: none;
    outline: 0;
    position: absolute;
    z-index: 6
}

.CodeMirror-vscrollbar {
    overflow-x: hidden;
    overflow-y: scroll;
    right: 0;
    top: 0
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden
}

.CodeMirror-scrollbar-filler {
    bottom: 0;
    right: 0
}

.CodeMirror-gutter-filler {
    bottom: 0;
    left: 0
}

.CodeMirror-gutters {
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: 3
}

.CodeMirror-gutter {
    display: inline-block;
    height: 100%;
    margin-bottom: -50px;
    vertical-align: top;
    white-space: normal
}

.CodeMirror-gutter-wrapper {
    background: 0 0 !important;
    border: none !important;
    position: absolute;
    z-index: 4
}

.CodeMirror-gutter-background {
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 4
}

.CodeMirror-gutter-elt {
    cursor: default;
    position: absolute;
    z-index: 4
}

.CodeMirror-gutter-wrapper ::selection {
    background-color: transparent
}

.CodeMirror-gutter-wrapper ::-moz-selection {
    background-color: transparent
}

.CodeMirror-lines {
    cursor: text;
    min-height: 1px
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    word-wrap: normal;
    -webkit-tap-highlight-color: transparent;
    background: 0 0;
    border-radius: 0;
    border-width: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-variant-ligatures: contextual;
    line-height: inherit;
    margin: 0;
    overflow: visible;
    position: relative;
    white-space: pre;
    z-index: 2
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal
}

.CodeMirror-linebackground {
    inset: 0;
    position: absolute;
    z-index: 0
}

.CodeMirror-linewidget {
    padding: .1px;
    position: relative;
    z-index: 2
}

.CodeMirror-code {
    outline: 0
}

.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber,
.CodeMirror-scroll,
.CodeMirror-sizer {
    box-sizing: content-box
}

.CodeMirror-measure {
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 100%
}

.CodeMirror-cursor {
    pointer-events: none;
    position: absolute
}

.CodeMirror-measure pre {
    position: static
}

div.CodeMirror-cursors {
    position: relative;
    visibility: hidden;
    z-index: 3
}

.CodeMirror-focused div.CodeMirror-cursors,
div.CodeMirror-dragcursors {
    visibility: visible
}

.CodeMirror-selected {
    background: #d9d9d9
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0
}

.CodeMirror-crosshair {
    cursor: crosshair
}

.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
    background: #d7d4f0
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line>span::-moz-selection,
.CodeMirror-line>span>span::-moz-selection {
    background: #d7d4f0
}

.cm-searching {
    background-color: #ffa;
    background-color: #ff06
}

.cm-force-border {
    padding-right: .1px
}

@media print {
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden
    }
}

.cm-tab-wrap-hack:after {
    content: ""
}

span.CodeMirror-selectedtext {
    background: 0 0
}

.EasyMDEContainer {
    display: block
}

.CodeMirror-rtl pre {
    direction: rtl
}

.EasyMDEContainer.sided--no-fullscreen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.EasyMDEContainer .CodeMirror {
    word-wrap: break-word;
    border: 1px solid #ced4da;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    font: inherit;
    height: auto;
    padding: 10px;
    z-index: 0
}

.EasyMDEContainer .CodeMirror-scroll {
    cursor: text
}

.EasyMDEContainer .CodeMirror-fullscreen {
    background: #fff;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
    height: auto;
    inset: 50px 0 0;
    position: fixed !important;
    z-index: 8
}

.EasyMDEContainer .CodeMirror-sided {
    width: 50% !important
}

.EasyMDEContainer.sided--no-fullscreen .CodeMirror-sided {
    border-bottom-right-radius: 0;
    border-right: none !important;
    flex: 1 1 auto;
    position: relative
}

.EasyMDEContainer .CodeMirror-placeholder {
    opacity: .5
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
    background: #d9d9d9
}

.editor-toolbar {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 9px 10px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none
}

.editor-toolbar.fullscreen {
    background: #fff;
    border: 0;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    opacity: 1;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9
}

.editor-toolbar.fullscreen:before {
    background: linear-gradient(90deg, #fff 0, hsla(0, 0%, 100%, 0));
    height: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 20px
}

.editor-toolbar.fullscreen:after {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff);
    height: 50px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 20px
}

.EasyMDEContainer.sided--no-fullscreen .editor-toolbar {
    width: 100%
}

.editor-toolbar .easymde-dropdown,
.editor-toolbar button {
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none !important
}

.editor-toolbar button {
    font-weight: 700;
    min-width: 30px;
    padding: 0 6px;
    white-space: nowrap
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
    background: #fcfcfc;
    border-color: #95a5a6
}

.editor-toolbar i.separator {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    color: transparent;
    display: inline-block;
    margin: 0 6px;
    text-indent: -10px;
    width: 0
}

.editor-toolbar button:after {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 65%;
    position: relative;
    top: 2px;
    vertical-align: text-bottom
}

.editor-toolbar button.heading-1:after {
    content: "1"
}

.editor-toolbar button.heading-2:after {
    content: "2"
}

.editor-toolbar button.heading-3:after {
    content: "3"
}

.editor-toolbar button.heading-bigger:after {
    content: "\25b2"
}

.editor-toolbar button.heading-smaller:after {
    content: "\25bc"
}

.editor-toolbar.disabled-for-preview button:not(.no-disable) {
    opacity: .6;
    pointer-events: none
}

@media only screen and (max-width:700px) {
    .editor-toolbar i.no-mobile {
        display: none
    }
}

.editor-statusbar {
    color: #959694;
    font-size: 12px;
    padding: 8px 10px;
    text-align: right
}

.EasyMDEContainer.sided--no-fullscreen .editor-statusbar {
    width: 100%
}

.editor-statusbar span {
    display: inline-block;
    margin-left: 1em;
    min-width: 4em
}

.editor-statusbar .lines:before {
    content: "lines: "
}

.editor-statusbar .words:before {
    content: "words: "
}

.editor-statusbar .characters:before {
    content: "characters: "
}

.editor-preview-full {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 7
}

.editor-preview-full,
.editor-preview-side {
    box-sizing: border-box;
    display: none;
    overflow: auto
}

.editor-preview-side {
    word-wrap: break-word;
    border: 1px solid #ddd;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 50px;
    width: 50%;
    z-index: 9
}

.editor-preview-active-side {
    display: block
}

.EasyMDEContainer.sided--no-fullscreen .editor-preview-active-side {
    flex: 1 1 auto;
    height: auto;
    position: static
}

.editor-preview-active {
    display: block
}

.editor-preview {
    background: #fafafa;
    padding: 10px
}

.editor-preview>p {
    margin-top: 0
}

.editor-preview pre {
    background: #eee;
    margin-bottom: 10px
}

.editor-preview table td,
.editor-preview table th {
    border: 1px solid #ddd;
    padding: 5px
}

.cm-s-easymde .cm-tag {
    color: #63a35c
}

.cm-s-easymde .cm-attribute {
    color: #795da3
}

.cm-s-easymde .cm-string {
    color: #183691
}

.cm-s-easymde .cm-header-1 {
    font-size: calc(1.375rem + 1.5vw)
}

.cm-s-easymde .cm-header-2 {
    font-size: calc(1.325rem + .9vw)
}

.cm-s-easymde .cm-header-3 {
    font-size: calc(1.3rem + .6vw)
}

.cm-s-easymde .cm-header-4 {
    font-size: calc(1.275rem + .3vw)
}

.cm-s-easymde .cm-header-5 {
    font-size: 1.25rem
}

.cm-s-easymde .cm-header-6 {
    font-size: 1rem
}

.cm-s-easymde .cm-header-1,
.cm-s-easymde .cm-header-2,
.cm-s-easymde .cm-header-3,
.cm-s-easymde .cm-header-4,
.cm-s-easymde .cm-header-5,
.cm-s-easymde .cm-header-6 {
    line-height: 1.2;
    margin-bottom: .5rem
}

.cm-s-easymde .cm-comment {
    background: rgba(0, 0, 0, .05);
    border-radius: 2px
}

.cm-s-easymde .cm-link {
    color: #7f8c8d
}

.cm-s-easymde .cm-url {
    color: #aab2b3
}

.cm-s-easymde .cm-quote {
    color: #7f8c8d;
    font-style: italic
}

.editor-toolbar .easymde-dropdown {
    border: 1px solid #fff;
    border-radius: 0;
    position: relative
}

.editor-toolbar .easymde-dropdown,
.editor-toolbar .easymde-dropdown:hover {
    background: linear-gradient(to bottom right, #fff, #fff 84%, #333 0, #333)
}

.easymde-dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px #0003;
    display: block;
    padding: 8px;
    position: absolute;
    top: 30px;
    visibility: hidden;
    z-index: 2
}

.easymde-dropdown:active .easymde-dropdown-content,
.easymde-dropdown:focus .easymde-dropdown-content,
.easymde-dropdown:focus-within .easymde-dropdown-content {
    visibility: visible
}

.easymde-dropdown-content button {
    display: block
}

span[data-img-src]:after {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 0;
    max-height: 100%;
    max-width: 100%;
    padding-top: var(--height);
    width: var(--width)
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: rgba(255, 0, 0, .15)
}

:root {
    --color-cm-red: #991b1b;
    --color-cm-orange: #9a3412;
    --color-cm-amber: #92400e;
    --color-cm-yellow: #854d0e;
    --color-cm-lime: #3f6212;
    --color-cm-green: #166534;
    --color-cm-emerald: #065f46;
    --color-cm-teal: #115e59;
    --color-cm-cyan: #155e75;
    --color-cm-sky: #075985;
    --color-cm-blue: #1e40af;
    --color-cm-indigo: #3730a3;
    --color-cm-violet: #5b21b6;
    --color-cm-purple: #6b21a8;
    --color-cm-fuchsia: #86198f;
    --color-cm-pink: #9d174d;
    --color-cm-rose: #9f1239;
    --color-cm-gray: #18181b;
    --color-cm-gray-muted: #71717a;
    --color-cm-gray-background: #e4e4e7
}

.dark {
    --color-cm-red: #f87171;
    --color-cm-orange: #fb923c;
    --color-cm-amber: #fbbf24;
    --color-cm-yellow: #facc15;
    --color-cm-lime: #a3e635;
    --color-cm-green: #4ade80;
    --color-cm-emerald: #4ade80;
    --color-cm-teal: #2dd4bf;
    --color-cm-cyan: #22d3ee;
    --color-cm-sky: #38bdf8;
    --color-cm-blue: #60a5fa;
    --color-cm-indigo: #818cf8;
    --color-cm-violet: #a78bfa;
    --color-cm-purple: #c084fc;
    --color-cm-fuchsia: #e879f9;
    --color-cm-pink: #f472b6;
    --color-cm-rose: #fb7185;
    --color-cm-gray: #fafafa;
    --color-cm-gray-muted: #a1a1aa;
    --color-cm-gray-background: #52525b
}

.cm-s-easymde .cm-comment {
    background-color: transparent;
    color: var(--color-cm-gray-muted)
}

.EasyMDEContainer .CodeMirror-cursor {
    border-color: currentColor
}

.dark .EasyMDEContainer .cm-s-easymde span.CodeMirror-selectedtext {
    filter: invert(100%)
}

.EasyMDEContainer .cm-s-easymde .cm-keyword {
    color: var(--color-cm-violet)
}

.EasyMDEContainer .cm-s-easymde .cm-atom {
    color: var(--color-cm-blue)
}

.EasyMDEContainer .cm-s-easymde .cm-number {
    color: var(--color-cm-green)
}

.EasyMDEContainer .cm-s-easymde .cm-def {
    color: var(--color-cm-blue)
}

.EasyMDEContainer .cm-s-easymde .cm-variable {
    color: var(--color-cm-yellow)
}

.EasyMDEContainer .cm-s-easymde .cm-variable-2 {
    color: var(--color-cm-blue)
}

.EasyMDEContainer .cm-s-easymde .cm-variable-3 {
    color: var(--color-cm-emerald)
}

.EasyMDEContainer .cm-s-easymde .cm-operator,
.EasyMDEContainer .cm-s-easymde .cm-property {
    color: var(--color-cm-gray)
}

.EasyMDEContainer .cm-s-easymde .cm-string,
.EasyMDEContainer .cm-s-easymde .cm-string-2 {
    color: var(--color-cm-rose)
}

.EasyMDEContainer .cm-s-easymde .cm-meta {
    color: var(--color-cm-gray-muted)
}

.EasyMDEContainer .cm-s-easymde .cm-error {
    color: var(--color-cm-red)
}

.EasyMDEContainer .cm-s-easymde .cm-qualifier {
    color: var(--color-cm-gray-muted)
}

.EasyMDEContainer .cm-s-easymde .cm-builtin {
    color: var(--color-cm-violet)
}

.EasyMDEContainer .cm-s-easymde .cm-bracket {
    color: var(--color-cm-gray-muted)
}

.EasyMDEContainer .cm-s-easymde .cm-tag {
    color: var(--color-cm-green)
}

.EasyMDEContainer .cm-s-easymde .cm-attribute {
    color: var(--color-cm-blue)
}

.EasyMDEContainer .cm-s-easymde .cm-hr {
    color: var(--color-cm-gray-muted)
}

.EasyMDEContainer .cm-s-easymde .cm-formatting-quote {
    color: var(--color-cm-sky)
}

.EasyMDEContainer .cm-s-easymde .cm-formatting-quote+.cm-quote {
    color: var(--color-cm-gray-muted)
}

.EasyMDEContainer .cm-s-easymde .cm-formatting-list,
.EasyMDEContainer .cm-s-easymde .cm-formatting-list+.cm-variable-2,
.EasyMDEContainer .cm-s-easymde .cm-tab+.cm-variable-2 {
    color: var(--color-cm-gray)
}

.EasyMDEContainer .cm-s-easymde .cm-link {
    color: var(--color-cm-blue)
}

.EasyMDEContainer .cm-s-easymde .cm-tag {
    color: var(--color-cm-red)
}

.EasyMDEContainer .cm-s-easymde .cm-attribute {
    color: var(--color-cm-amber)
}

.EasyMDEContainer .cm-s-easymde .cm-attribute+.cm-string {
    color: var(--color-cm-green)
}

.EasyMDEContainer .cm-s-easymde .cm-formatting-code+.cm-comment:not(.cm-formatting-code) {
    background-color: var(--color-cm-gray-background);
    color: var(--color-cm-gray)
}

.EasyMDEContainer .cm-s-easymde .cm-header-1 {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.EasyMDEContainer .cm-s-easymde .cm-header-2 {
    font-size: 1.5rem;
    line-height: 2rem
}

.EasyMDEContainer .cm-s-easymde .cm-header-3 {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.EasyMDEContainer .cm-s-easymde .cm-header-4 {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.EasyMDEContainer .cm-s-easymde .cm-header-5 {
    font-size: 1rem;
    line-height: 1.5rem
}

.EasyMDEContainer .cm-s-easymde .cm-header-6 {
    font-size: .875rem;
    line-height: 1.25rem
}

.EasyMDEContainer .cm-s-easymde .cm-comment {
    background-image: none
}

.EasyMDEContainer .CodeMirror,
.EasyMDEContainer .cm-s-easymde .cm-formatting-code-block,
.EasyMDEContainer .cm-s-easymde .cm-tab+.cm-comment {
    background-color: transparent;
    color: inherit
}

.EasyMDEContainer .CodeMirror {
    border-style: none;
    padding: .375rem .75rem
}

.EasyMDEContainer .CodeMirror-scroll {
    height: auto
}

.EasyMDEContainer .editor-toolbar {
    --tw-border-opacity: 1;
    border-color: rgba(var(--gray-200), var(--tw-border-opacity));
    border-radius: 0;
    border-width: 0 0 1px;
    -moz-column-gap: .25rem;
    column-gap: .25rem;
    display: flex;
    overflow-x: auto;
    padding: .5rem .625rem
}

:is(.dark .EasyMDEContainer .editor-toolbar) {
    border-color: hsla(0, 0%, 100%, .1)
}

.EasyMDEContainer .editor-toolbar button {
    border-radius: .5rem;
    border-style: none;
    cursor: pointer;
    display: grid;
    height: 2rem;
    padding: 0;
    place-content: center;
    transition-duration: 75ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 2rem
}

.EasyMDEContainer .editor-toolbar button:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity))
}

.EasyMDEContainer .editor-toolbar button:focus-visible {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity))
}

:is(.dark .EasyMDEContainer .editor-toolbar button:hover) {
    background-color: hsla(0, 0%, 100%, .05)
}

:is(.dark .EasyMDEContainer .editor-toolbar button:focus-visible) {
    background-color: hsla(0, 0%, 100%, .05)
}

.EasyMDEContainer .editor-toolbar button.active {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity))
}

:is(.dark .EasyMDEContainer .editor-toolbar button.active) {
    background-color: hsla(0, 0%, 100%, .05)
}

.EasyMDEContainer .editor-toolbar button:before {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-700), var(--tw-bg-opacity));
    display: block;
    height: 1rem;
    width: 1rem
}

:is(.dark .EasyMDEContainer .editor-toolbar button):before {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-300), var(--tw-bg-opacity))
}

.EasyMDEContainer .editor-toolbar button:before {
    content: "";
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat
}

.EasyMDEContainer .editor-toolbar button.active:before {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--primary-600), var(--tw-bg-opacity))
}

:is(.dark .EasyMDEContainer .editor-toolbar button.active):before {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--primary-400), var(--tw-bg-opacity))
}

.EasyMDEContainer .editor-toolbar .separator {
    border-style: none;
    margin: 0 !important;
    width: .25rem
}

.EasyMDEContainer .editor-toolbar .bold:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M321.1 242.4c19-22.3 30.9-50.8 30.9-82.4 0-70.59-57.42-128-128-128l-192 .01c-17.67 0-32 14.31-32 32s14.33 32 32 32h16v320H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h224c70.58 0 128-57.41 128-128 0-46.71-25.4-87.21-62.9-109.61zM112 96.01h112c35.3 0 64 28.72 64 64s-28.7 64-64 64H112v-128zM256 416H112V288h144c35.3 0 64 28.71 64 63.1S291.3 416 256 416z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M321.1 242.4c19-22.3 30.9-50.8 30.9-82.4 0-70.59-57.42-128-128-128l-192 .01c-17.67 0-32 14.31-32 32s14.33 32 32 32h16v320H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h224c70.58 0 128-57.41 128-128 0-46.71-25.4-87.21-62.9-109.61zM112 96.01h112c35.3 0 64 28.72 64 64s-28.7 64-64 64H112v-128zM256 416H112V288h144c35.3 0 64 28.71 64 63.1S291.3 416 256 416z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .italic:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M384 64.01c0 17.69-14.31 32-32 32h-58.67l-133.3 320H224c17.69 0 32 14.31 32 32s-14.31 32-32 32H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h58.67l133.3-320H160c-17.69 0-32-14.31-32-32s14.31-32 32-32h192c17.7 0 32 14.32 32 32z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath d='M384 64.01c0 17.69-14.31 32-32 32h-58.67l-133.3 320H224c17.69 0 32 14.31 32 32s-14.31 32-32 32H32c-17.69 0-32-14.31-32-32s14.31-32 32-32h58.67l133.3-320H160c-17.69 0-32-14.31-32-32s14.31-32 32-32h192c17.7 0 32 14.32 32 32z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .strikethrough:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M332.2 319.9c17.22 12.17 22.33 26.51 18.61 48.21-3.031 17.59-10.88 29.34-24.72 36.99-35.44 19.75-108.5 11.96-186-19.68-16.34-6.686-35.03 1.156-41.72 17.53s1.188 35.05 17.53 41.71c31.75 12.93 95.69 35.37 157.6 35.37 29.62 0 58.81-5.156 83.72-18.96 30.81-17.09 50.44-45.46 56.72-82.11 3.998-23.27 2.168-42.58-3.488-59.05H332.2zm155.8-80-176.5-.03c-15.85-5.614-31.83-10.34-46.7-14.62-85.47-24.62-110.9-39.05-103.7-81.33 2.5-14.53 10.16-25.96 22.72-34.03 20.47-13.15 64.06-23.84 155.4.343 17.09 4.53 34.59-5.654 39.13-22.74 4.531-17.09-5.656-34.59-22.75-39.12-91.31-24.18-160.7-21.62-206.3 7.654C121.8 73.72 103.6 101.1 98.09 133.1c-8.83 51.4 9.81 84.2 39.11 106.8H24c-13.25 0-24 10.75-24 23.1 0 13.25 10.75 23.1 24 23.1h464c13.25 0 24-10.75 24-23.1 0-12.3-10.7-23.1-24-23.1z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M332.2 319.9c17.22 12.17 22.33 26.51 18.61 48.21-3.031 17.59-10.88 29.34-24.72 36.99-35.44 19.75-108.5 11.96-186-19.68-16.34-6.686-35.03 1.156-41.72 17.53s1.188 35.05 17.53 41.71c31.75 12.93 95.69 35.37 157.6 35.37 29.62 0 58.81-5.156 83.72-18.96 30.81-17.09 50.44-45.46 56.72-82.11 3.998-23.27 2.168-42.58-3.488-59.05H332.2zm155.8-80-176.5-.03c-15.85-5.614-31.83-10.34-46.7-14.62-85.47-24.62-110.9-39.05-103.7-81.33 2.5-14.53 10.16-25.96 22.72-34.03 20.47-13.15 64.06-23.84 155.4.343 17.09 4.53 34.59-5.654 39.13-22.74 4.531-17.09-5.656-34.59-22.75-39.12-91.31-24.18-160.7-21.62-206.3 7.654C121.8 73.72 103.6 101.1 98.09 133.1c-8.83 51.4 9.81 84.2 39.11 106.8H24c-13.25 0-24 10.75-24 23.1 0 13.25 10.75 23.1 24 23.1h464c13.25 0 24-10.75 24-23.1 0-12.3-10.7-23.1-24-23.1z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .link:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M598.6 41.41C570.1 13.8 534.8 0 498.6 0s-72.36 13.8-99.96 41.41l-43.36 43.36c15.11 8.012 29.47 17.58 41.91 30.02 3.146 3.146 5.898 6.518 8.742 9.838l37.96-37.96C458.5 72.05 477.1 64 498.6 64c20.67 0 40.1 8.047 54.71 22.66 14.61 14.61 22.66 34.04 22.66 54.71s-8.049 40.1-22.66 54.71l-133.3 133.3C405.5 343.1 386 352 365.4 352s-40.1-8.048-54.71-22.66C296 314.7 287.1 295.3 287.1 274.6s8.047-40.1 22.66-54.71l4.44-3.49c-2.1-3.9-4.3-7.9-7.5-11.1-8.6-8.6-19.9-13.3-32.1-13.3-11.93 0-23.1 4.664-31.61 12.97-30.71 53.96-23.63 123.6 22.39 169.6C293 402.2 329.2 416 365.4 416c36.18 0 72.36-13.8 99.96-41.41L598.6 241.3c28.45-28.45 42.24-66.01 41.37-103.3-.87-35.9-14.57-69.84-41.37-96.59zM234 387.4l-37.9 37.9C181.5 439.1 162 448 141.4 448c-20.67 0-40.1-8.047-54.71-22.66-14.61-14.61-22.66-34.04-22.66-54.71s8.049-40.1 22.66-54.71l133.3-133.3C234.5 168 253.1 160 274.6 160s40.1 8.048 54.71 22.66c14.62 14.61 22.66 34.04 22.66 54.71s-8.047 40.1-22.66 54.71l-3.51 3.52c2.094 3.939 4.219 7.895 7.465 11.15C341.9 315.3 353.3 320 365.4 320c11.93 0 23.1-4.664 31.61-12.97 30.71-53.96 23.63-123.6-22.39-169.6C346.1 109.8 310.8 96 274.6 96c-36.2 0-72.3 13.8-99.9 41.4L41.41 270.7C13.81 298.3 0 334.48 0 370.66c0 36.18 13.8 72.36 41.41 99.97C69.01 498.2 105.2 512 141.4 512c36.18 0 72.36-13.8 99.96-41.41l43.36-43.36c-15.11-8.012-29.47-17.58-41.91-30.02-3.21-3.11-5.91-6.51-8.81-9.81z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M598.6 41.41C570.1 13.8 534.8 0 498.6 0s-72.36 13.8-99.96 41.41l-43.36 43.36c15.11 8.012 29.47 17.58 41.91 30.02 3.146 3.146 5.898 6.518 8.742 9.838l37.96-37.96C458.5 72.05 477.1 64 498.6 64c20.67 0 40.1 8.047 54.71 22.66 14.61 14.61 22.66 34.04 22.66 54.71s-8.049 40.1-22.66 54.71l-133.3 133.3C405.5 343.1 386 352 365.4 352s-40.1-8.048-54.71-22.66C296 314.7 287.1 295.3 287.1 274.6s8.047-40.1 22.66-54.71l4.44-3.49c-2.1-3.9-4.3-7.9-7.5-11.1-8.6-8.6-19.9-13.3-32.1-13.3-11.93 0-23.1 4.664-31.61 12.97-30.71 53.96-23.63 123.6 22.39 169.6C293 402.2 329.2 416 365.4 416c36.18 0 72.36-13.8 99.96-41.41L598.6 241.3c28.45-28.45 42.24-66.01 41.37-103.3-.87-35.9-14.57-69.84-41.37-96.59zM234 387.4l-37.9 37.9C181.5 439.1 162 448 141.4 448c-20.67 0-40.1-8.047-54.71-22.66-14.61-14.61-22.66-34.04-22.66-54.71s8.049-40.1 22.66-54.71l133.3-133.3C234.5 168 253.1 160 274.6 160s40.1 8.048 54.71 22.66c14.62 14.61 22.66 34.04 22.66 54.71s-8.047 40.1-22.66 54.71l-3.51 3.52c2.094 3.939 4.219 7.895 7.465 11.15C341.9 315.3 353.3 320 365.4 320c11.93 0 23.1-4.664 31.61-12.97 30.71-53.96 23.63-123.6-22.39-169.6C346.1 109.8 310.8 96 274.6 96c-36.2 0-72.3 13.8-99.9 41.4L41.41 270.7C13.81 298.3 0 334.48 0 370.66c0 36.18 13.8 72.36 41.41 99.97C69.01 498.2 105.2 512 141.4 512c36.18 0 72.36-13.8 99.96-41.41l43.36-43.36c-15.11-8.012-29.47-17.58-41.91-30.02-3.21-3.11-5.91-6.51-8.81-9.81z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .heading:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 64c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32h-16v112h224V96h-16c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32h-16v320h16c17.7 0 32 14.3 32 32s-14.3 32-32 32h-96c-17.7 0-32-14.3-32-32s14.3-32 32-32h16V272H112v144h16c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h16V96H32C14.3 96 0 81.7 0 64z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 64c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32h-16v112h224V96h-16c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32h-16v320h16c17.7 0 32 14.3 32 32s-14.3 32-32 32h-96c-17.7 0-32-14.3-32-32s14.3-32 32-32h16V272H112v144h16c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h16V96H32C14.3 96 0 81.7 0 64z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .quote:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M96 224c-11.28 0-21.95 2.3-32 5.9V224c0-35.3 28.7-64 64-64 17.67 0 32-14.33 32-32s-14.3-32-32-32C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96-43-96-96-96zm256 0c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64 17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96-43-96-96-96z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M96 224c-11.28 0-21.95 2.3-32 5.9V224c0-35.3 28.7-64 64-64 17.67 0 32-14.33 32-32s-14.3-32-32-32C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96-43-96-96-96zm256 0c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64 17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96-43-96-96-96z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .code:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M416 31.94C416 21.75 408.1 0 384.1 0c-13.98 0-26.87 9.072-30.89 23.18l-128 448a31.933 31.933 0 0 0-1.241 8.801C223.1 490.3 232 512 256 512c13.92 0 26.73-9.157 30.75-23.22l128-448c.85-2.97 1.25-5.93 1.25-8.84zM176 143.1c0-18.28-14.95-32-32-32-8.188 0-16.38 3.125-22.62 9.376l-112 112C3.125 239.6 0 247.8 0 255.1s3.125 17.3 9.375 23.5l112 112c6.225 6.3 14.425 8.5 22.625 8.5 17.05 0 32-13.73 32-32 0-8.188-3.125-16.38-9.375-22.63L77.25 255.1l89.38-89.38c6.27-5.42 9.37-13.52 9.37-22.62zm464 112c0-8.188-3.125-16.38-9.375-22.63l-112-112C512.4 115.1 504.2 111.1 496 111.1c-17.05 0-32 13.73-32 32 0 8.188 3.125 16.38 9.375 22.63l89.38 89.38-89.38 89.38C467.1 351.6 464 359.8 464 367.1c0 18.28 14.95 32 32 32 8.188 0 16.38-3.125 22.62-9.376l112-112C636.9 272.4 640 264.2 640 255.1z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M416 31.94C416 21.75 408.1 0 384.1 0c-13.98 0-26.87 9.072-30.89 23.18l-128 448a31.933 31.933 0 0 0-1.241 8.801C223.1 490.3 232 512 256 512c13.92 0 26.73-9.157 30.75-23.22l128-448c.85-2.97 1.25-5.93 1.25-8.84zM176 143.1c0-18.28-14.95-32-32-32-8.188 0-16.38 3.125-22.62 9.376l-112 112C3.125 239.6 0 247.8 0 255.1s3.125 17.3 9.375 23.5l112 112c6.225 6.3 14.425 8.5 22.625 8.5 17.05 0 32-13.73 32-32 0-8.188-3.125-16.38-9.375-22.63L77.25 255.1l89.38-89.38c6.27-5.42 9.37-13.52 9.37-22.62zm464 112c0-8.188-3.125-16.38-9.375-22.63l-112-112C512.4 115.1 504.2 111.1 496 111.1c-17.05 0-32 13.73-32 32 0 8.188 3.125 16.38 9.375 22.63l89.38 89.38-89.38 89.38C467.1 351.6 464 359.8 464 367.1c0 18.28 14.95 32 32 32 8.188 0 16.38-3.125 22.62-9.376l112-112C636.9 272.4 640 264.2 640 255.1z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .unordered-list:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M16 96c0-26.51 21.49-48 48-48s48 21.49 48 48c0 26.5-21.49 48-48 48s-48-21.5-48-48zm464-32c17.7 0 32 14.33 32 32 0 17.7-14.3 32-32 32H192c-17.7 0-32-14.3-32-32 0-17.67 14.3-32 32-32h288zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32s14.3-32 32-32h288zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32s14.3-32 32-32h288zM16 416c0-26.5 21.49-48 48-48s48 21.5 48 48-21.49 48-48 48-48-21.5-48-48zm96-160c0 26.5-21.49 48-48 48s-48-21.5-48-48 21.49-48 48-48 48 21.5 48 48z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M16 96c0-26.51 21.49-48 48-48s48 21.49 48 48c0 26.5-21.49 48-48 48s-48-21.5-48-48zm464-32c17.7 0 32 14.33 32 32 0 17.7-14.3 32-32 32H192c-17.7 0-32-14.3-32-32 0-17.67 14.3-32 32-32h288zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32s14.3-32 32-32h288zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32s14.3-32 32-32h288zM16 416c0-26.5 21.49-48 48-48s48 21.5 48 48-21.49 48-48 48-48-21.5-48-48zm96-160c0 26.5-21.49 48-48 48s-48-21.5-48-48 21.49-48 48-48 48 21.5 48 48z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .ordered-list:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M55.1 56.04c0-13.26 11.64-24 24-24h32c14.2 0 24 10.74 24 24V176h16c14.2 0 24 10.8 24 24 0 13.3-9.8 24-24 24h-80c-12.36 0-24-10.7-24-24 0-13.2 11.64-24 24-24h16V80.04h-8c-12.36 0-24-10.75-24-24zm63.6 285.16c-6.6-7.4-18.3-6.9-24.05 1.2l-11.12 15.5c-7.7 10.8-22.69 13.3-33.48 5.6-10.79-7.7-13.28-22.7-5.58-33.4l11.12-15.6c23.74-33.3 72.31-35.7 99.21-4.9 21.3 23.5 20.8 60.9-1.1 84.7L118.8 432H152c13.3 0 24 10.7 24 24s-10.7 24-24 24H64c-9.53 0-18.16-5.6-21.98-14.4-3.83-8.7-2.12-18.9 4.34-25.9l72.04-78c5.3-5.8 5.4-14.6.3-20.5zM512 64c17.7 0 32 14.33 32 32 0 17.7-14.3 32-32 32H256c-17.7 0-32-14.3-32-32 0-17.67 14.3-32 32-32h256zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32s14.3-32 32-32h256zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32s14.3-32 32-32h256z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M55.1 56.04c0-13.26 11.64-24 24-24h32c14.2 0 24 10.74 24 24V176h16c14.2 0 24 10.8 24 24 0 13.3-9.8 24-24 24h-80c-12.36 0-24-10.7-24-24 0-13.2 11.64-24 24-24h16V80.04h-8c-12.36 0-24-10.75-24-24zm63.6 285.16c-6.6-7.4-18.3-6.9-24.05 1.2l-11.12 15.5c-7.7 10.8-22.69 13.3-33.48 5.6-10.79-7.7-13.28-22.7-5.58-33.4l11.12-15.6c23.74-33.3 72.31-35.7 99.21-4.9 21.3 23.5 20.8 60.9-1.1 84.7L118.8 432H152c13.3 0 24 10.7 24 24s-10.7 24-24 24H64c-9.53 0-18.16-5.6-21.98-14.4-3.83-8.7-2.12-18.9 4.34-25.9l72.04-78c5.3-5.8 5.4-14.6.3-20.5zM512 64c17.7 0 32 14.33 32 32 0 17.7-14.3 32-32 32H256c-17.7 0-32-14.3-32-32 0-17.67 14.3-32 32-32h256zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32s14.3-32 32-32h256zm0 160c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32s14.3-32 32-32h256z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .table:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1792 1792'%3E%3Cpath d='M576 1376v-192q0-14-9-23t-23-9H224q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384V800q0-14-9-23t-23-9H224q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9H736q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zM576 608V416q0-14-9-23t-23-9H224q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384V800q0-14-9-23t-23-9H736q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm-512-768V416q0-14-9-23t-23-9H736q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384V800q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384V416q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm128-320v1088q0 66-47 113t-113 47H224q-66 0-113-47t-47-113V288q0-66 47-113t113-47h1344q66 0 113 47t47 113z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1792 1792'%3E%3Cpath d='M576 1376v-192q0-14-9-23t-23-9H224q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384V800q0-14-9-23t-23-9H224q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9H736q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zM576 608V416q0-14-9-23t-23-9H224q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384V800q0-14-9-23t-23-9H736q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384v-192q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm-512-768V416q0-14-9-23t-23-9H736q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm512 384V800q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm0-384V416q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v192q0 14 9 23t23 9h320q14 0 23-9t9-23zm128-320v1088q0 66-47 113t-113 47H224q-66 0-113-47t-47-113V288q0-66 47-113t113-47h1344q66 0 113 47t47 113z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .upload-image:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M447.1 32h-484C28.64 32-.01 60.65-.01 96v320c0 35.35 28.65 64 63.1 64h384c35.35 0 64-28.65 64-64V96c.01-35.35-27.79-64-63.99-64zm-336 64c26.51 0 48 21.49 48 48s-20.6 48-48 48-48-21.49-48-48 22.38-48 48-48zm335 311.6c-2.8 5.2-8.2 8.4-14.1 8.4H82.01a15.993 15.993 0 0 1-14.26-8.75 16 16 0 0 1 1.334-16.68l70-96C142.1 290.4 146.9 288 152 288s9.916 2.441 12.93 6.574l32.46 44.51 93.3-139.1C293.7 194.7 298.7 192 304 192s10.35 2.672 13.31 7.125l128 192c3.29 4.875 3.59 11.175.79 16.475z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M447.1 32h-484C28.64 32-.01 60.65-.01 96v320c0 35.35 28.65 64 63.1 64h384c35.35 0 64-28.65 64-64V96c.01-35.35-27.79-64-63.99-64zm-336 64c26.51 0 48 21.49 48 48s-20.6 48-48 48-48-21.49-48-48 22.38-48 48-48zm335 311.6c-2.8 5.2-8.2 8.4-14.1 8.4H82.01a15.993 15.993 0 0 1-14.26-8.75 16 16 0 0 1 1.334-16.68l70-96C142.1 290.4 146.9 288 152 288s9.916 2.441 12.93 6.574l32.46 44.51 93.3-139.1C293.7 194.7 298.7 192 304 192s10.35 2.672 13.31 7.125l128 192c3.29 4.875 3.59 11.175.79 16.475z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .undo:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M480 256c0 123.4-100.5 223.9-223.9 223.9-48.84 0-95.17-15.58-134.2-44.86-14.12-10.59-16.97-30.66-6.375-44.81 10.59-14.12 30.62-16.94 44.81-6.375 27.84 20.91 61 31.94 95.88 31.94C344.3 415.8 416 344.1 416 256S344.31 96.2 256.2 96.2c-37.46 0-73.09 13.49-101.3 36.64l45.12 45.14c17.01 17.02 4.955 46.1-19.1 46.1H35.17C24.58 224.1 16 215.5 16 204.9V59.04C16 35 45.07 22.96 62.07 39.97l47.6 47.63C149.9 52.71 201.5 32.11 256.1 32.11 379.5 32.11 480 132.6 480 256z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M480 256c0 123.4-100.5 223.9-223.9 223.9-48.84 0-95.17-15.58-134.2-44.86-14.12-10.59-16.97-30.66-6.375-44.81 10.59-14.12 30.62-16.94 44.81-6.375 27.84 20.91 61 31.94 95.88 31.94C344.3 415.8 416 344.1 416 256S344.31 96.2 256.2 96.2c-37.46 0-73.09 13.49-101.3 36.64l45.12 45.14c17.01 17.02 4.955 46.1-19.1 46.1H35.17C24.58 224.1 16 215.5 16 204.9V59.04C16 35 45.07 22.96 62.07 39.97l47.6 47.63C149.9 52.71 201.5 32.11 256.1 32.11 379.5 32.11 480 132.6 480 256z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-toolbar .redo:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M468.9 32.11c13.87 0 27.18 10.77 27.18 27.04v145.9c0 10.59-8.584 19.17-19.17 19.17h-145.7c-16.28 0-27.06-13.32-27.06-27.2 0-6.634 2.461-13.4 7.96-18.9l45.12-45.14c-28.22-23.14-63.85-36.64-101.3-36.64-88.09 0-159.8 71.69-159.8 159.8S167.8 415.9 255.9 415.9c73.14 0 89.44-38.31 115.1-38.31 18.48 0 31.97 15.04 31.97 31.96 0 35.04-81.59 70.41-147 70.41-123.4 0-223.9-100.5-223.9-223.9S132.6 32.44 256 32.44c54.6 0 106.2 20.39 146.4 55.26L450 40.07c5.5-5.5 12.3-7.96 18.9-7.96z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M468.9 32.11c13.87 0 27.18 10.77 27.18 27.04v145.9c0 10.59-8.584 19.17-19.17 19.17h-145.7c-16.28 0-27.06-13.32-27.06-27.2 0-6.634 2.461-13.4 7.96-18.9l45.12-45.14c-28.22-23.14-63.85-36.64-101.3-36.64-88.09 0-159.8 71.69-159.8 159.8S167.8 415.9 255.9 415.9c73.14 0 89.44-38.31 115.1-38.31 18.48 0 31.97 15.04 31.97 31.96 0 35.04-81.59 70.41-147 70.41-123.4 0-223.9-100.5-223.9-223.9S132.6 32.44 256 32.44c54.6 0 106.2 20.39 146.4 55.26L450 40.07c5.5-5.5 12.3-7.96 18.9-7.96z'/%3E%3C/svg%3E")
}

.EasyMDEContainer .editor-statusbar {
    display: none
}

.fi-fo-rich-editor trix-toolbar .trix-dialogs {
    position: relative
}

.fi-fo-rich-editor trix-toolbar .trix-dialog {
    --tw-bg-opacity: 1;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity));
    border-radius: .5rem;
    bottom: auto;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    left: 0;
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 1rem
}

:is(.dark .fi-fo-rich-editor trix-toolbar .trix-dialog) {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-800), var(--tw-bg-opacity))
}

.fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%
}

.fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-button-group {
    display: flex;
    gap: .5rem
}

.fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-color: rgba(var(--gray-950), 0.1);
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: .375rem;
    border-style: none;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    color: rgba(var(--gray-950), var(--tw-text-opacity));
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-bottom: .375rem;
    padding-inline-end: .75rem;
    padding-top: .375rem;
    padding-inline-start: .75rem;
    transition-duration: 75ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 100%
}

.fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input::placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input:focus-within {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(var(--primary-600), var(--tw-ring-opacity))
}

:is(.dark .fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input) {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-ring-color: hsla(0, 0%, 100%, .2);
    background-color: rgba(var(--gray-700), var(--tw-bg-opacity));
    color: rgb(255 255 255/var(--tw-text-opacity))
}

:is(.dark .fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input)::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

:is(.dark .fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input)::placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

:is(.dark .fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input:focus-within) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(var(--primary-600), var(--tw-ring-opacity))
}

@media (min-width:640px) {
    .fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-input {
        font-size: .875rem;
        line-height: 1.5rem
    }
}

.fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-button-group .trix-button {
    --tw-bg-opacity: 1;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(var(--gray-200), var(--tw-ring-opacity));
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity));
    border-radius: .375rem;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    font-size: .75rem;
    line-height: 1rem;
    padding: .125rem .5rem
}

:is(.dark .fi-fo-rich-editor trix-toolbar .trix-dialog__link-fields .trix-button-group .trix-button) {
    --tw-bg-opacity: 1;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(var(--gray-600), var(--tw-ring-opacity));
    background-color: rgba(var(--gray-700), var(--tw-bg-opacity))
}

.fi-fo-rich-editor trix-editor:empty:before {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

:is(.dark .fi-fo-rich-editor trix-editor:empty):before {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

.fi-fo-rich-editor trix-editor:empty:before {
    content: attr(placeholder)
}

.fi-fo-rich-editor trix-editor.prose :where(ol):not(:where([class~=not-prose] *)),
.fi-fo-rich-editor trix-editor.prose :where(ul):not(:where([class~=not-prose] *)) {
    padding-inline-end: 0 !important;
    padding-inline-start: 1.625em !important
}

.fi-fo-rich-editor trix-editor.prose :where(ul>li):not(:where([class~=not-prose] *)) {
    padding-inline-end: 0 !important;
    padding-inline-start: .375em !important
}

select:not(.choices) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E")
}

[dir=rtl] select {
    background-position: left .5rem center !important
}

.choices {
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative
}

.choices [hidden] {
    display: none !important
}

.choices[data-type*=select-one] .has-no-choices {
    display: none
}

.choices[data-type*=select-one] .choices__input {
    display: block;
    margin: 0;
    width: 100%
}

.choices__inner {
    background-repeat: no-repeat;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-bottom: .375rem;
    padding-inline-end: 2rem;
    padding-top: .375rem;
    padding-inline-start: .75rem
}

@media (min-width:640px) {
    .choices__inner {
        font-size: .875rem;
        line-height: 1.5rem
    }
}

.choices__inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-size: 1.5em 1.5em
}

.choices.is-disabled .choices__inner {
    cursor: default
}

[dir=rtl] .choices__inner {
    background-position: left .5rem center
}

.choices__list--single {
    display: inline-block
}

.choices__list--single .choices__item {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-950), var(--tw-text-opacity))
}

:is(.dark .choices__list--single .choices__item) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.choices.is-disabled .choices__list--single .choices__item {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

:is(.dark .choices.is-disabled .choices__list--single .choices__item) {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.choices__list--multiple {
    display: flex;
    flex-wrap: wrap;
    gap: .375rem
}

.choices__list--multiple:not(:empty) {
    margin-bottom: .25rem;
    margin-left: -.25rem;
    margin-right: -.25rem;
    padding-bottom: .125rem;
    padding-top: .125rem
}

.choices__list--multiple .choices__item {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-inset: inset;
    --tw-ring-color: rgba(var(--primary-600), 0.1);
    align-items: center;
    background-color: rgba(var(--primary-50), var(--tw-bg-opacity));
    border-radius: .375rem;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    color: rgba(var(--primary-600), var(--tw-text-opacity));
    display: inline-flex;
    font-size: .75rem;
    font-weight: 500;
    gap: .25rem;
    line-height: 1rem;
    padding: .25rem .5rem;
    word-break: break-all
}

:is(.dark .choices__list--multiple .choices__item) {
    --tw-text-opacity: 1;
    --tw-ring-color: rgba(var(--primary-400), 0.3);
    background-color: rgba(var(--primary-400), .1);
    color: rgba(var(--primary-400), var(--tw-text-opacity))
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    --tw-bg-opacity: 1;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-color: rgba(var(--gray-950), 0.05);
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: .5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    display: none;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: .5rem;
    overflow: hidden;
    overflow-wrap: break-word;
    position: absolute;
    top: 100%;
    width: 100%;
    will-change: visibility;
    z-index: 10
}

:is(.dark .choices__list--dropdown),
:is(.dark .choices__list[aria-expanded]) {
    --tw-bg-opacity: 1;
    --tw-ring-color: hsla(0, 0%, 100%, .1);
    background-color: rgba(var(--gray-900), var(--tw-bg-opacity))
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
    display: block;
    padding: .25rem
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    max-height: 15rem;
    overflow: auto;
    will-change: scroll-position
}

.choices__item--choice {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity));
    padding: .5rem;
    transition-duration: 75ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

:is(.dark .choices__item--choice) {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.choices__item--choice.choices__item--selectable {
    --tw-text-opacity: 1;
    border-radius: .375rem;
    color: rgba(var(--gray-950), var(--tw-text-opacity))
}

:is(.dark .choices__item--choice.choices__item--selectable) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity))
}

:is(.dark .choices__list--dropdown .choices__item--selectable.is-highlighted),
:is(.dark .choices__list[aria-expanded] .choices__item--selectable.is-highlighted) {
    background-color: hsla(0, 0%, 100%, .05)
}

.choices__item {
    cursor: default
}

.choices__item--disabled {
    pointer-events: none
}

.choices__item--disabled:disabled {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

:is(.dark .choices__item--disabled:disabled) {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.choices.is-disabled .choices__placeholder.choices__item,
.choices__placeholder.choices__item {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity));
    cursor: default
}

:is(.dark .choices.is-disabled .choices__placeholder.choices__item),
:is(.dark .choices__placeholder.choices__item) {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

.choices__button {
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    border-width: 0;
    outline: 2px solid transparent;
    outline-offset: 2px;
    text-indent: -9999px
}

.choices[data-type*=select-one] .choices__button {
    height: 1rem;
    inset-inline-end: 0;
    margin-inline-end: 2.25rem;
    opacity: .5;
    padding: 0;
    position: absolute;
    transition-duration: 75ms;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 1rem
}

:is(.dark .choices[data-type*=select-one] .choices__button) {
    opacity: .4
}

.choices[data-type*=select-one] .choices__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=);
    background-size: .7142em .7142em;
    top: calc(50% - .5714em)
}

.dark .choices[data-type*=select-one] .choices__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=)
}

.choices[data-type*=select-multiple] .choices__button {
    height: 1rem;
    opacity: .5;
    width: 1rem
}

:is(.dark .choices[data-type*=select-multiple] .choices__button) {
    opacity: .4
}

.choices[data-type*=select-multiple] .choices__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=);
    background-size: .7142em .7142em
}

.dark .choices[data-type*=select-multiple] .choices__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=)
}

.choices[data-type*=select-multiple] .choices__button:focus-visible,
.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=select-one] .choices__button:focus-visible,
.choices[data-type*=select-one] .choices__button:hover {
    opacity: .7
}

:is(.dark .choices[data-type*=select-multiple] .choices__button:focus-visible),
:is(.dark .choices[data-type*=select-multiple] .choices__button:hover),
:is(.dark .choices[data-type*=select-one] .choices__button:focus-visible),
:is(.dark .choices[data-type*=select-one] .choices__button:hover) {
    opacity: .6
}

.choices.is-disabled .choices__button,
.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
    display: none
}

.choices__input {
    --tw-text-opacity: 1;
    background-color: transparent !important;
    border-style: none;
    color: rgba(var(--gray-950), var(--tw-text-opacity));
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    padding: 0 !important;
    transition-duration: 75ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.choices__input::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.choices__input::placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.choices__input:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important
}

.choices__input:disabled {
    --tw-text-opacity: 1;
    -webkit-text-fill-color: rgba(var(--gray-500), 1);
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

:is(.dark .choices__input) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

:is(.dark .choices__input)::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

:is(.dark .choices__input)::placeholder {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity))
}

:is(.dark .choices__input:disabled) {
    --tw-text-opacity: 1;
    -webkit-text-fill-color: rgba(var(--gray-400), 1);
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

@media (min-width:640px) {
    .choices__input {
        font-size: .875rem !important;
        line-height: 1.5rem
    }
}

.choices__list--dropdown .choices__input {
    padding: .5rem !important
}

.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
    display: none
}

.choices__input::-ms-clear,
.choices__input::-ms-reveal {
    display: none;
    height: 0;
    width: 0
}

.choices__group {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-500), var(--tw-text-opacity));
    padding: 1rem .5rem .5rem
}

.choices__group:first-child {
    padding-top: .5rem
}

:is(.dark .choices__group) {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-400), var(--tw-text-opacity))
}

.webkit-calendar-picker-indicator\:opacity-0::-webkit-calendar-picker-indicator {
    opacity: 0
}

/*! Bundled license information:

cropperjs/dist/cropper.min.css:
  (*!
   * Cropper.js v1.6.1
   * https://fengyuanchen.github.io/cropperjs
   *
   * Copyright 2015-present Chen Fengyuan
   * Released under the MIT license
   *
   * Date: 2023-09-17T03:44:17.565Z
   *)

filepond/dist/filepond.min.css:
  (*!
   * FilePond 4.30.6
   * Licensed under MIT, https://opensource.org/licenses/MIT/
   * Please visit https://pqina.nl/filepond/ for details.
   *)

filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css:
  (*!
   * FilePondPluginImageEdit 1.6.3
   * Licensed under MIT, https://opensource.org/licenses/MIT/
   * Please visit https://pqina.nl/filepond/ for details.
   *)

filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css:
  (*!
   * FilePondPluginImagePreview 4.6.12
   * Licensed under MIT, https://opensource.org/licenses/MIT/
   * Please visit https://pqina.nl/filepond/ for details.
   *)

filepond-plugin-media-preview/dist/filepond-plugin-media-preview.css:
  (*!
   * FilePondPluginmediaPreview 1.0.11
   * Licensed under MIT, https://opensource.org/licenses/MIT/
   * Please visit undefined for details.
   *)

easymde/dist/easymde.min.css:
  (**
   * easymde v2.18.0
   * Copyright Jeroen Akkerman
   * @link https://github.com/ionaru/easy-markdown-editor
   * @license MIT
   *)
*/
